<nav class="navbar navbar-expand-lg bg-white border-bottom sticky-top py-2 shadow-sm">
    <div class="container-fluid px-2 px-md-5">

        <a class="navbar-brand text-danger d-flex align-items-center me-2" href="/listings">
            <i class="fa-regular fa-compass fs-3"></i>
        </a>

        <div class="search-container">
            <form class="d-flex" role="search" action="/listings" method="GET">
                <input 
                    class="form-control search-inp"
                    type="search"
                    name="search"
                    placeholder="Search destinations"
                    value="<%= typeof search !== 'undefined' ? search : '' %>"
                />

                <button class="btn btn-search ms-2" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <span class="d-none d-md-inline">Search</span>
                </button>
            </form>
        </div>

        <button
            class="navbar-toggler ms-auto"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">

            <div class="ms-auto d-flex align-items-center auth-links flex-column flex-lg-row">

                <a class="nav-link px-2" href="/listings">
                    <b>Explore</b>
                </a>

                <% if (currUser) { %>

                    <a class="nav-link px-2" href="/listings/new">
                        <span class="d-none d-lg-inline">Become a Host</span>
                        <i class="fa-solid fa-house-chimney d-lg-none"></i>
                    </a>

                    <a class="nav-link px-2" href="/logout">
                        <b>Log out</b>
                    </a>

                <% } else { %>

                    <a class="nav-link px-2" href="/signup">
                        <b>Sign up</b>
                    </a>

                    <a class="nav-link px-2" href="/login">
                        <b>Log in</b>
                    </a>

                <% } %>

            </div>

        </div>
    </div>
</nav>
