<nav class="navbar navbar-expand bg-white border-bottom sticky-top py-2 shadow-sm">
    <div class="container-fluid px-2 px-md-5">
        <div class="navbar-nav d-flex flex-row align-items-center w-100">

            <a class="navbar-brand text-danger d-flex align-items-center me-3" href="/listings">
                <i class="fa-regular fa-compass fs-3"></i>
            </a>
            
            <a class="nav-link px-2 fw-bold text-dark" href="/listings">Explore</a>
            <a class="nav-link px-2 " href="/listings">All Listings</a>
            <a class="nav-link px-2" href="/listings/new">Host</a>

            <div class="ms-auto d-flex align-items-center">
              <% if(!currUser) { %>
               <a class="nav-link px-2" href="/signup" style="font-size: 0.85rem;">Sign up</a>
               <a class="nav-link px-2" href="/login" style="font-size: 0.85rem;">Log in</a>
              <% } else { %>
               <a class="nav-link px-2" href="/logout" style="font-size: 0.85rem;">Log out</a>
              <% } %>
            </div>

        </div>
    </div>
</nav>